
/* ===== Reset Titles inside Cards ===== */
.product-card .card-title {
  color: #000 !important; /* خلي عنوان المنتج أسود واضح */
  font-weight: bold;
}

/* ===== زرار Add to Cart ===== */
.btn-add-cart {
  background: linear-gradient(45deg, #ff7e5f, #feb47b); /* برتقالي + أصفر */
  border: none;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.4s ease;
  border-radius: 8px;
}

.btn-add-cart:hover {
  background: linear-gradient(135deg, #feb47b, #ff7e5f);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* ===== زرار View Details ===== */
.btn-view-details {
  background: white;/* بنفسجي + أزرق */
border: 1px solid #f7a761 ;
color: #f7a761;
font-weight: bold;
transition: all 0.4s ease;
border-radius: 8px;
}

.btn-view-details:hover {
background: linear-gradient(45deg, #fb8a8e, #e6ac9c, #fcb5a2);
transform: translateY(-3px) scale(1.05);
box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* الزرار العادي */
.btn-outline-primary {
border: 2px solid #ff7e5f;
color: #ff7e5f;
border-radius: 8px;
font-weight: bold;
transition: all 0.4s ease;
background: transparent;
}

/* الزرار عند hover */
.btn-outline-primary:hover {
background: linear-gradient(45deg, #ff7e5f, #feb47b);
color: #0b0b0b !important;
transform: translateY(-2px) scale(1.05);
box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

/* الزرار اللي عليه active */
.btn-outline-primary.active {
background: #f7a761; /* برتقالي فاتح */
border-color: #f7a761;
color: #fff;
}

.btn-outline-primary.active:hover {
background: linear-gradient(45deg, #ff7e5f, #feb47b);
border-color: #ff7e5f;
color: #fff;
transform: translateY(-2px) scale(1.05);
box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

